@* Interface Enumarable = Enumarate or list (to ascertain the number of : count) *@

@model IEnumerable<nombusoStudyGroup.Models.PersonModel>

@{
    ViewBag.Title = "List of People";
}

<style>
    body {
        background-color: floralwhite;
    }
</style>

<h2>List of People</h2>

@*<p>
        @Html.ActionLink("Create New", "Create") >> In this overload it is the name and the action >> Link going nowhere.
    </p>*@
<table class="people_table" style="color: hotpink; background-color: floralwhite;">
    <tr>
        <th style="background-color:floralwhite;">
            @Html.DisplayNameFor(model => model.StudentNumber)
        </th>
        <th style="background-color:floralwhite;">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="background-color:floralwhite;">
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th style="background-color:floralwhite;">
            @Html.DisplayNameFor(model => model.Email)
        <th style="background-color:floralwhite;">
            @Html.DisplayNameFor(model => model.myLink)
        </th>
        <th style="background-color:floralwhite;">
            @Html.DisplayNameFor(model => model.myDelete)
        </th>
    </tr>

    @foreach (var item in Model) //For each person
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a href="@Url.Content(item.myLink)" target="_blank" class="btn btn-primary">Link</a>
            </td>
            <td>
            <button class="btn btn-primary delete-button" onclick="delete_row(this)">Delete</button>
            </td>
           

        </tr>
    }
</table>

<script>
    // Delete ROW on button click
    // Delete remove the row that contains the clicked button
    document.querySelectorAll(".delete-button").forEach(button => {
        button.addEventListener("click", function () {
            const row = this.closest("tr");
            row.remove();
        });
    });

    // Highlight rows where first name starts with "N"
    document.querySelectorAll("tbody tr").forEach(row => {
        const firstName = row.children[1].textContent.trim();
        if (firstName.startsWith("N")) {
            row.style.color = "red";
        }
    });
</script>
